.dialog .directional-chooser {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 2em 2em 2em;
  grid-template-rows: 2em 2em 2em;
  gap: 2px;
}
.dialog .directional-chooser label input[type="checkbox"] {
  display: none;
}
.dialog .directional-chooser label span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog .directional-chooser label span i {
  text-align: center;
}
.dialog .directional-chooser label input:checked + span {
  background-color: var(--color-checkbox-checked);
  color: var(--color-text-light-highlight);
}
.dialog .directional-chooser label span:hover {
  text-shadow: 0 0 2px var(--color-shadow-primary);
}
.dialog .directional-chooser label.upleft span {
  border-top-left-radius: 5px;
}
.dialog .directional-chooser label.upright span {
  border-top-right-radius: 5px;
}
.dialog .directional-chooser label.downleft span {
  border-bottom-left-radius: 5px;
}
.dialog .directional-chooser label.downright span {
  border-bottom-right-radius: 5px;
}
#controls .control-tool[data-tool="breakable-rock"] {
  background-color: #805030;
}
#controls .control-tool[data-tool="breakable-rock"] i {
  background-image: url("../img/items-overworld/breakable_rock_frlg.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
#controls .control-tool[data-tool="cuttable-plant"] {
  background-color: lightgreen;
}
#controls .control-tool[data-tool="cuttable-plant"] i {
  background-image: url("../img/items-overworld/cuttable_plant_frlg.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
#controls .control-tool[data-tool="movable-boulder"] {
  background-color: lightgrey;
}
#controls .control-tool[data-tool="movable-boulder"] i {
  background-image: url("../img/items-overworld/movable_boulder_frlg.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
