


@font-face {
    font-family: 'Pokemon FRLG';
    src: url("../fonts/pkmnfl.ttf") ;
    font-weight: normal;
}

@font-face {
    font-family: 'Pokemon DPPt';
    src: url("../fonts/pkmndp.ttf") ;
    font-weight: normal;
}

@font-face {
    font-family: 'Pokemon DPPt';
    src: url("../fonts/pkmndpb.ttf") ;
    font-weight: bold;
}



.dialog .directional-chooser {
    // center horizontally
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;

    display: grid;
    grid-template-columns: 2em 2em 2em;
    grid-template-rows: 2em 2em 2em;
    gap: 2px;

    
    label {
        input[type="checkbox"] {
            display: none;
        }
        span {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                text-align: center;
            }
        }
        input:checked + span {
            background-color: var(--color-checkbox-checked);
            color: var(--color-text-light-highlight);
        }
        span:hover {
            text-shadow: 0 0 2px var(--color-shadow-primary);
        }

        &.upleft span {
            border-top-left-radius: 5px;
        }
        &.upright span {
            border-top-right-radius: 5px;
        }
        &.downleft span {
            border-bottom-left-radius: 5px;
        }
        &.downright span {
            border-bottom-right-radius: 5px;
        }
    }
}


.scene-controls-img-icon {
    content: " ";
    width: 100%;
    height: 100%;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

#scene-controls .ui-control.tool {
    &[data-tool="breakable-rock"] {
        background-color: #805030;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/breakable_rock_frlg.png");
        }
    }
    &[data-tool="cuttable-plant"] {
        background-color: lightgreen;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/cuttable_plant_frlg.png");
        }
    }
    &[data-tool="movable-boulder"] {
        background-color: lightgrey;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/movable_boulder_frlg.png");
        }
    }
    &[data-tool="whirlpool"] {
        background-color: #4878d8;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/whirlpool_frlg.png");
        }
    }
    &[data-tool="sign"] {
        background-color: lightgreen;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/sign_frlg.png");
        }
    }
    &[data-tool="item"] {
        background-color: lightgray;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/pokeball.png");
        }
    }
    &[data-tool="headbutt-tree"] {
        background-color: lightgreen;
        padding: 2px;
        &:before {
            .scene-controls-img-icon();
            background-image: url("../img/items-overworld/headbutt_tree_hgss.png");
        }
    }
}

.dialog-content file-picker button {
    line-height: var(--form-field-height);
}

.window-app.pokemon-dialog {
    border-image-source: url("../img/ui/textbox_1.png");
    border-width: 30px;
    border-image-slice: 8 22 8 12;
    border-image-width: 32px 88px 32px 48px;
    border-image-repeat: stretch;
    image-rendering: pixelated;
    border-radius: 0;
    padding: 30px 86px 30px 46px;

    min-height: 200px;

    // Positioning
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    right: 310px !important;
    top: unset !important;
    width: unset !important;

    header {
        display: none;
    }

    .window-content {
        background: white;
 
        .dialog-content {
            font-family: "Pokemon DPPt";
            font-size: xx-large;
            text-shadow: 2px 2px darkgray;
            color: black;

            p {
                margin: 0;
            }
        }
    }

    &.dialog-prompt .window-content .dialog-buttons {
        position: absolute;
        right: 12px;
        top: 12px;
        bottom: 12px;
        width: 64px;
        flex-direction: column;
        justify-content: end;

        button {
            color: white;
            background: none;
            text-shadow: 2px -2px black;
            flex: 0;
            border: unset;
            &:hover {
                box-shadow: none;
            }
            &:focus {
                box-shadow: none;
                animation: bounce 1s ease infinite;
            }
            i {
                transform: rotate(90deg) scaleX(2);
                &::before {
                    content: "▶";
                    font-family: "Pokemon DPPt";
                    font-weight: normal;
                    font-size: xx-large;
                }
            }
        }
    }
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}


@import "ptr2e.less";
@import "pokerole.less";