@font-face {
  font-family: 'Pokemon FRLG';
  src: url("../fonts/pkmnfl.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Pokemon DPPt';
  src: url("../fonts/pkmndp.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Pokemon DPPt';
  src: url("../fonts/pkmndpb.ttf");
  font-weight: bold;
}
.dialog .directional-chooser {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 2em 2em 2em;
  grid-template-rows: 2em 2em 2em;
  gap: 2px;
}
.dialog .directional-chooser label input[type="checkbox"] {
  display: none;
}
.dialog .directional-chooser label span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog .directional-chooser label span i {
  text-align: center;
}
.dialog .directional-chooser label input:checked + span {
  background-color: var(--color-checkbox-checked);
  color: var(--color-text-light-highlight);
}
.dialog .directional-chooser label span:hover {
  text-shadow: 0 0 2px var(--color-shadow-primary);
}
.dialog .directional-chooser label.upleft span {
  border-top-left-radius: 5px;
}
.dialog .directional-chooser label.upright span {
  border-top-right-radius: 5px;
}
.dialog .directional-chooser label.downleft span {
  border-bottom-left-radius: 5px;
}
.dialog .directional-chooser label.downright span {
  border-bottom-right-radius: 5px;
}
#controls .control-tool[data-tool="breakable-rock"] {
  background-color: #805030;
}
#controls .control-tool[data-tool="breakable-rock"] i {
  background-image: url("../img/items-overworld/breakable_rock_frlg.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
#controls .control-tool[data-tool="cuttable-plant"] {
  background-color: lightgreen;
}
#controls .control-tool[data-tool="cuttable-plant"] i {
  background-image: url("../img/items-overworld/cuttable_plant_frlg.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
#controls .control-tool[data-tool="movable-boulder"] {
  background-color: lightgrey;
}
#controls .control-tool[data-tool="movable-boulder"] i {
  background-image: url("../img/items-overworld/movable_boulder_frlg.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
#controls .control-tool[data-tool="whirlpool"] {
  background-color: #6860f8;
}
#controls .control-tool[data-tool="whirlpool"] i {
  background-image: url("../img/items-overworld/whirlpool_gsc.png");
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
.window-app.pokemon-dialog {
  border-image-source: url("../img/ui/textbox_1.png");
  border-width: 30px;
  border-image-slice: 8 22 8 12;
  border-image-width: 32px 88px 32px 48px;
  border-image-repeat: stretch;
  image-rendering: pixelated;
  border-radius: 0;
  padding: 30px 86px 30px 46px;
  min-height: 200px;
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  right: 310px !important;
  top: unset !important;
  width: unset !important;
}
.window-app.pokemon-dialog header {
  display: none;
}
.window-app.pokemon-dialog .window-content {
  background: white;
  font-family: "Pokemon DPPt";
  font-size: xx-large;
  text-shadow: 2px 2px darkgray;
  color: black;
}
.window-app.pokemon-dialog .window-content p {
  margin: 0;
}
.window-app.pokemon-dialog.dialog-prompt .window-content .dialog-buttons {
  position: absolute;
  right: 12px;
  top: 12px;
  bottom: 12px;
  width: 64px;
  flex-direction: column;
  justify-content: end;
}
.window-app.pokemon-dialog.dialog-prompt .window-content .dialog-buttons button {
  color: white;
  background: none;
  text-shadow: 2px -2px black;
  flex: 0;
  border: unset;
}
.window-app.pokemon-dialog.dialog-prompt .window-content .dialog-buttons button:hover {
  box-shadow: none;
}
.window-app.pokemon-dialog.dialog-prompt .window-content .dialog-buttons button:focus {
  box-shadow: none;
  animation: bounce 1s ease infinite;
}
.window-app.pokemon-dialog.dialog-prompt .window-content .dialog-buttons button i {
  transform: rotate(90deg) scaleX(2);
}
.window-app.pokemon-dialog.dialog-prompt .window-content .dialog-buttons button i::before {
  content: "▶";
  font-family: "Pokemon DPPt";
  font-weight: normal;
  font-size: xx-large;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
